
/dts-v1/;

#include "rv1108.dtsi"

/ {
	model = "Jacobian on Rockchip RV1108";
	compatible = "rockchip,rv1108-jacobian", "rockchip,rv1108";

	memory {
		device_type = "memory";
		reg = <0x60000000 0x08000000>;
	};

	fiq-debugger {
		status = "okay";
		rockchip,serial-id = <2>;
		pinctrl-0 = <&uart2m0_xfer>;
	};

	chosen {
		//linux,stdout-path = "serial2:1500000n8"; /* UART2 as default debug port */
		bootargs = "console_enable=1";
	};

	io-domains {
		compatible = "rockchip,rv1108-io-voltage-domain";
		rockchip,grf = <&grf>;
		rockchip,pmugrf =<&pmugrf>;

		/* GRF_IO_VSEL */
		status = "okay";
		vccio1-supply = <&rk805_dcdc4_reg>;
		vccio2-supply = <&rk805_ldo2_reg>;
		vccio3-supply = <&rk805_dcdc4_reg>;
		vccio5-supply = <&rk805_ldo2_reg>;

		/* PMU_GRF_IO_VSEL */
		pmu-supply =<&rk805_dcdc4_reg>;
	};

	/* pmic_sleep */
	gpio_poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio0 GPIO_B5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&clk_core_dvfs_table {
	operating-points = <
		/* KHz	  uV */
		408000 975000
		600000 975000
		816000 1025000
		1008000 1150000
		>;
	lkg_adjust_volt_table = <
		/*lkg(mA)  volt(uV)*/
		60         25000
		>;
	status = "okay";
};

&i2c0 {
	status = "okay";

	i2c-scl-rising-time-ns = <275>;
	i2c-scl-falling-time-ns = <16>;
	clock-frequency = <400000>;
	nack-retry = <1>;

	rk805: rk805@18 {
		reg = <0x18>;
		status = "okay";
	};
};

&i2c1 {
	// OmniVision OV9282
	status = "okay";
	ov7251: camera-module@60 {
		status = "okay";
		compatible = "omnivision,ov7251-bw-v4l2-i2c-subdev";
		reg = <0x60>; /*SC_SCCB_ID1 (default 0xC0)*/
		device_type = "v4l2-i2c-subdev";
		clocks = <&clk_mipicsi_out>;
		clock-names = "clk_mipicsi_out";
		pinctrl-names = "rockchip,camera_default", "rockchip,camera_sleep";
		/*pinctrl-0 = <&cam0_default_pins>;
		pinctrl-1 = <&cam0_sleep_pins>;*/
		pinctrl-0 = <&mipi_cam_xshutdown &cif_dvp_clk_out>; /*need cif_dvp_clk_out_sleep??*/
		rockchip,pd-gpio = <&gpio3 GPIO_D1 GPIO_ACTIVE_LOW>; /*XSHUTDOWN. While powerup, Where to pull it high?? rk_camera_module.c by pd-gpio?? this gpio is active_low and where set inactive*/
		rockchip,camera-module-mclk-name = "clk_mipicsi_out";
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "NAVA";
		rockchip,camera-module-len-name = "FISHEYE";
		rockchip,camera-module-fov-h = "128";
		rockchip,camera-module-fov-v = "55.7";
		rockchip,camera-module-orientation = <0>;
		rockchip,camera-module-iq-flip = <0>;
		rockchip,camera-module-iq-mirror = <0>;
		rockchip,camera-module-flip = <0>;
		rockchip,camera-module-mirror = <0>;
		/* resolution.w, resolution.h, defrect.left, defrect.top, defrect.w, defrect.h */
		rockchip,camera-module-defrect0 = <640 480 0 0 640 480>;
		rockchip,camera-module-flash-support = <0>;
		rockchip,camera-module-mipi-dphy-index = <0>;
	};
	/* MIPI configuration
	*MIPI_CSI_D0P,MIPI_CSI_D0N: No pinmux
	*MIPI_CSI_D1P,MIPI_CSI_D1N: No pinmux
	*MIPI_CSI_CLKP,MIPI_CSI_CLKN: No pinmux
	*GPIO3_D1/CIF_PDN -->XSHUTDOWN: GPIO. where is the pinmux setting? rockchip,pd-gpio?
	*GPIO3_D2/CIF_CLKOUT --> MCLK:cif_dvp_clk_out  
	*SID(SCCB ID select input): OV9282's.  OV7251 doesn't have it
	*/
	mipi_cam_pins {
		mipi_cam_xshutdown: mipi-cam-xshutdown {
			rockchip,pins = <3 GPIO_D1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&i2c2 {
	// Renesas ISL29501
	status = "okay";
	isl29501@57{
		compatible = "renesas,isl29501";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_isl29501_cen &pinctrl_isl29501_irq &pinctrl_isl29501_ss>;
		reg = <0x57>;
		enable-gpios = <&gpio0 GPIO_B3 GPIO_ACTIVE_LOW>; /* Chip Enable, active low */
		irq-gpios = <&gpio0 GPIO_A1 GPIO_ACTIVE_LOW>; /* IRQ GPIO, active low */
		ss-gpios = <&gpio0 GPIO_A5 GPIO_ACTIVE_LOW>; /* SS GPIO, active HIGH->LOW edge */
		//enable-gpios = <&pioA 34 GPIO_ACTIVE_LOW>; /* Chip Enable, active low */
		//irq-gpios = <&pioA 33 GPIO_ACTIVE_LOW>; /* IRQ GPIO, active low */
		//ss-gpios = <&pioA 32 GPIO_ACTIVE_LOW>; /* SS GPIO, active HIGH->LOW edge */
	};
	/* Kernel space IIO driver
	*I2C2_SDA/I2C2_SCL: i2c2m1_xfer
	*GPIO0_B3 -->CEN0: need pinmux setting
	*GPIO0_A1/SDMMC0_DET-->IRQ0: need pinmux setting
	*GPIO0_A5/CLK_WIFI_OUT -->SS0: 
	*/
	gpio_isl29501_pins{
		pinctrl_isl29501_cen: isl29501_cen {
			rockchip,pins = <0 GPIO_B3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		pinctrl_isl29501_irq: isl29501_irq {
			rockchip,pins = <0 GPIO_A1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		pinctrl_isl29501_ss: isl29501_ss {
			rockchip,pins = <0 GPIO_A5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&uart1 {
	status = "okay";
	pinctrl-0 = <&uart1_xfer>;
};

&sfc {
	status = "okay";
};

#include "rv1108-rk805-v12.dtsi" /* rk805 v12 */

&dwc_control_usb {
	rockchip,remote_wakeup;
	rockchip,usb_irq_wakeup;
	status = "okay";
};

&usb_otg {
	rockchip,delay-en-diepint-nak-quirk;
	rockchip,high-bandwidth;
	status = "okay";
};
